<!DOCTYPE html>
<html lang="en">
    <% include components/htmlhead %>
    <body>
        <% include components/navbar %>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-12 col-md-6">
                    <h1><%=pageTitle %></h1>
                    <% if (typeof errorMsg !== 'undefined') { %>
                        <p id="errorMsg" class="text-danger"><%= errorMsg %></p>
                    <% } %>
                    <form id="frmCreateTask" action="/tasks" method="post">
                        <div class="form-group">
                            <label for="name">Task Name</label>
                            <input type="text" name="name" class="form-control" required/>
                            <label for="description">Description</label>
                            <textarea name="description" rows="4" class="form-control"></textarea>
                            <label for="assigner">Assigner:</label>
                            <select name="assigner" class="form-control">
                                <%- assigner %>
                            </select>
                            <label for="assignee">Assignee</label>
                            <select name="assignee" class="form-control">
                                <%- assigneeList %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Create Task</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div> <!-- container -->
        <% include components/scripts %>
    </body>
</html>