<!DOCTYPE html>
<html lang="en">
<% include components/htmlhead %>

<body>
    <% include components/navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6">
                <h1>Approve a task</h1>
                <% if (typeof errorMsg !== 'undefined') { %>
                    <p id="errorMsg" class="text-danger"><%= errorMsg %></p>
                <% } %>
                <% if (typeof successMsg !== 'undefined') { %>
                    <p id="successMsg" class="text-success"><%= successMsg %></p>
                <% } %>

                <% if (tasks.length > 0) { %>
                  <form id="frmCreateInvite" action="/manageTask" method="post">
                      <div class="form-group">
                        <label for="taskId">Select the completed task</label>
                        <select name="taskId" id="taskSelect">
                            <% for(var i=0; i < tasks.length; i++) { %>
                                <option value="<%= tasks[i].taskId %>"><%= tasks[i].taskName %></option>
                            <% } %>
                        </select>
                      </div>
                      <div id="proofFile"><a id="proofFileLink" href="">View proof of completion</a></div>
                      <button type="submit" class="btn btn-default">Mark as completed</button>
                  </form>
                <% } else { %>
                  <p>You haven't created a task yet. <a href="/createTask">Create one now?</a></p>
                <% }  %>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div> <!-- container -->
    <% include components/scripts %>
</body>
</html>
