<!DOCTYPE html>
<html>

    <% include components/htmlhead %>

    <body>
        <% include components/navbar %>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-12 col-md-6">
                    <h1>Invite a user to the group <%= groupName %></h1>
                    <% if (typeof errorMsg !== 'undefined') { %>
                        <p id="errorMsg" class="text-danger"><%= errorMsg %></p>
                    <% } %>
                    <% if (typeof successMsg !== 'undefined') { %>
                        <p id="successMsg" class="text-info"><%= successMsg %></p>
                    <% } %>

                    <% if (userGroupsOwned.length > 0) { %>
                      <form id="frmCreateInvite" action="/newInvite" method="post">
                          <div class="form-group">
                            <label for="inviteeEmail">Email</label>
                            <input type="email" name="inviteeEmail" class="form-control" required/>
                            <input type="hidden" name="groupId" value="<%= groupId %>">
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                    <% } else { %>
                      <p>You can't send invitations because you don't own a group. <a href="/createGroup">Create one now?</a></p>
                    <% }  %>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div> <!-- container -->
        <% include components/scripts %>
    </body>
</html>
